/* .Search{
    display: flex;
} */
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.ErrorPara{
    color: red;
    font-size: 1.2rem;
}
.ErrorDiv{
    /* border: 2px solid black; */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}